// Fonts
$font-main: 'Lexend', sans-serif;

// Size - Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$primary: #e8505b;
$secondary: rgb(189, 30, 89);
$black: #000;
$white: #ffffff;
$gray: #686868;
$gray-light: #e1e1e1;

$spacing: 5rem;
