@use 'base/variables' as v;
@use 'base/mixins' as m;

.bar {
   display: none;

   &__name {
      color: v.$black;
      margin: 0;
   }

   &__navigation {
      display: flex;
      gap: 4rem;
   }

   &__link {
      color: v.$white;
   }

   @include m.tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
}
